version: '3'

services:
  webapp:
    image: webapp
    restart: always
    build:
      context: ./frontend-client
    container_name: webapp-c
    ports:
      - "8085:8085"

  api:
    image: api
    restart: always
    working_dir: /storefront
    build:
      context: ./storefront
    container_name: api-c
    volumes:
      - ./storefront/storefront:/storefront
      - ~/.m2:/root/.m2
    ports:
      - "8081:8081"
    depends_on: 
      - mongo

  bk-food:
    image: bk-food
    restart: always
    build:
      context: ./backend
    working_dir: /food-service
    container_name: food-c
    expose:
      - "8080"
    ports:
      - "8090:8080"  
    depends_on: 
      - mongo

  bk-user:
    image: bk-user
    restart: always
    working_dir: /userService
    build:
      context: ./userService
    container_name: userService
    volumes:
      - ./userService:/userservice
    ports:
      - "8083:8083"
    depends_on: 
      - mongo

  bk-order:
    image: bk-order
    restart: always
    working_dir: /orderProcessingService
    build:
      context: ./orderProcessingService
    volumes:
      - ./orderProcessingService:/orderProcessingService
    ports:
      - "8082:8082"
    depends_on: 
      - mongo

  mongo:
    image: mongo:3.4.1
    ports:
      - '27017:27017'
    
#  bk-order:
#    image: bk-order
#    restart: always
#    build:
#      context: ./food-service
#    working_dir: /food-service
#    container_name: food-service
#    volumes:
#      - /Users/bish/.gradle/:/home/gradle/.gradle
#    expose:
#      - "8080"
#    ports:
#      - "8080:8080"
#    depends_on:
#      - mysql-service
